.cabecalho {
    background-color: black ;
color: bisque;
display: flex;
padding: 24px 0;
}

.section1 {
    background-color: black;
    padding: 100px;
}

.section2 {
    background-color: blueviolet;
    padding: 50px;
}

.cabecalho-imagem{
    width: 20%;
}